.spinner-logo {
  height: 20rem;
  animation: LogoSpin infinite 20s linear;
}

@keyframes LogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.landing-parent {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
}

.landing-child {
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-btn-holder {
  margin: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.landing-child button {
  background-color: #22305f;
  border: 1px solid #3ec9e9;
  color: #3ec9e9;
  padding: 0.5rem 1rem;
}

.landing-child button:hover {
  cursor: pointer;
  background-color: #3654d2;
  border: 1px solid #3654d2;
  color: #fff;
  padding: 0.5rem 1rem;
}
