nav {
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 1rem;
  color: white;
  background-color: #22305f;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.nav-logo {
  cursor: pointer;
}
.svg-logo {
  width: 2rem;
}

.nav-links-holder {
  margin: auto 1rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  margin: 0 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-link a {
  color: white;
  text-decoration: none;
}
.svg-menu {
  height: 2rem;
  cursor: pointer;
}

.hamburger {
  display: none;
}

@media only Screen and (max-width: 560px) {
  html,
  body {
    overflow-x: hidden;
  }
  nav {
    width: 95%;
    position: relative;
  }

  .nav-link {
    margin: 2rem 0;
  }

  .nav-links {
    background-color: #22305f;
    border-radius: 0.5rem;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
    right: 0rem;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(125%);
    transition: transform 0.5s ease-in;
  }

  .hamburger {
    display: block;
  }
}

.hamburger-active {
  transform: translateX(0%);
}
