nav {
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 1rem;
  color: white;
  background-color: #22305f;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.nav-logo {
  cursor: pointer;
}
.svg-logo {
  width: 2rem;
}

.nav-links-holder {
  margin: auto 0;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link {
  margin: 0 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

.svg-menu {
  width: 2rem;
  display: none;
}

@media only Screen and (max-width: 560px) {
  nav {
    width: 95%;
  }
  .nav-links-holder {
    display: none;
  }
  .svg-menu {
    width: 2rem;
    display: block;
  }
}
