* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(-135deg, #3ec9e9, #3654d2);
  min-height: 100vh;
  color: rgb(15, 15, 15);
  font-family: sans-serif;
}
